{% extends 'message/base.html' %}
{% block title %}
    <div class="b-example-divider"></div>

    <div class="container">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
                <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
            </div>
        </header>
{% endblock %}
{% block body %}
    <h5>Список активный рассылок: {{ count }}</h5>
{% endblock %}